@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colores de la marca */
:root {
    --brand-orange: #ff6f00;
    --brand-white: #ffffff;
    --brand-blue: #1e2a2f;
    --brand-gray: #d0d3d6;
}
